In [160]:
st='hi how are you'

In [161]:
print(st)

hi how are you

In [3]:
st ="hi how are you"

In [4]:
st

'hi how are you'

In [5]:
st ="this is babjee's laptop"

In [6]:
st

"this is babjee's laptop"

In [7]:
st ='''hi how are you
how is your day
how is your brother'''

In [8]:
st

'hi how are you\nhow is your day\nhow is your brother'

In [9]:
print(st)

hi how are you
how is your day
how is your brother

In [162]:
varInt =10

In [163]:
type(varInt)

int

In [164]:
varPi =20.2

In [167]:
a = 10 >5

In [168]:
type(a)

bool

In [15]:
type(a)

bool

In [173]:
a=b=c=10

In [18]:
print(a,b,c)

10 10 10

In [175]:
a,b,c =10,20,30

In [176]:
print(id(a))
print(id(c))
print(id(c))

140708157625416
140708157626056
140708157626056

In [177]:
import datetime
>>> d = datetime.datetime(2009, 10, 5, 18, 00)

In [178]:
type(d)

datetime.datetime

In [179]:
st='hi how are you'

In [180]:
st[0]

'h'

In [181]:
st[-1]

'u'

In [184]:
st[:3]

'hi '

In [185]:
st[::-1]

'uoy era woh ih'

In [186]:
st[::2]

'h o r o'

In [39]:
st[-5:-2]

'e y'

In [187]:
st.capitalize()

'Hi how are you'

In [188]:
st.center(30)

'        hi how are you        '

In [190]:
st.count('hi')

1

In [191]:
st.find('are')

7

In [45]:


name = "Ram"
age = 22
message = "My name is {0} and I am {1} year old"
message.format(name,age)

'My name is Ram and I am 22 year old'

In [192]:
st.index('how')

3

In [194]:
"hi123".isalnum()

True

In [196]:
'hi'.isalpha()

True

In [49]:
st.isascii()

True

In [50]:
st.isdecimal()

False

In [51]:
st.isdigit()

False

In [52]:
st.isidentifier()

False

In [197]:
st.islower()

True

In [54]:
st.isnumeric()

False

In [199]:
"\n".isprintable()

False

In [201]:
st.isspace()

False

In [206]:
len(st.upper())

14

In [59]:
str = '-'.join('hello')
print(str)

h-e-l-l-o

In [208]:
len(st.ljust(40,'*'))

40

In [63]:
st.lower()

'hi how are you'

In [65]:
'    hello'.lstrip()

'hello'

In [209]:
st.replace('hi','hellow')

'hellow how are you'

In [67]:
st.rfind('o')

12

In [68]:
st

'hi how are you'

In [210]:
st.rjust(40,'*')

'**************************hi how are you'

In [211]:
'hi how are you        '.rstrip()

'hi how are you'

In [212]:
st.split()

['hi', 'how', 'are', 'you']

In [72]:
st.rsplit(' ' ,2)

['hi how', 'are', 'you']

In [218]:
st.rsplit(' ',1 )

['hi how are', 'you']

In [219]:
line='''hi how are you
how is your day
how is your friend'''

In [220]:
line.splitlines()

['hi how are you', 'how is your day', 'how is your friend']

In [221]:
st.startswith('hi')

True

In [222]:
st.startswith('hello')

False

In [223]:
'Hi How are You'.swapcase()

'hI hOW ARE yOU'

In [81]:
st.title()

'Hi How Are You'

In [82]:
st.upper()

'HI HOW ARE YOU'

In [224]:
st='222222'

In [225]:
st.zfill(20)

'00000000000000222222'

In [85]:
#list In Python, a list is a sequence data type. It is an ordered collection of items
#Python lists may have objects of different data types.
#A Python list is mutable. Any item from the list can be accessed using its index, and can be modified.

In [226]:
lst =['apple','orange','mango','pinaple','apple']

In [230]:
lst[0]='fig'
print(lst)

['fig', 'orange', 'mango', 'pinaple', 'apple']

In [231]:
for i in lst:print(i)

fig
orange
mango
pinaple
apple

In [232]:
lst =list(('apple','orange','mango','pinaple'))

In [233]:
type(lst)

list

In [236]:
lst =[*range(0,11,2)]

In [237]:
lst

[0, 2, 4, 6, 8, 10]

In [98]:
lst =[*range(0,11,2)]

In [99]:
lst

[0, 2, 4, 6, 8, 10]

In [240]:
lst =[x*2 for x in range(1,10)]

In [241]:
lst

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [102]:
lst[0]

1

In [103]:
lst[-1]

9

In [104]:
lst[0:4]

[1, 2, 3, 4]

In [105]:
lst[3:]

[1, 2, 3]

In [106]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [247]:
lst1 =lst[4:]
print(lst1)

[10, 12, 14, 16, 18]

In [108]:
lst[::2]

[1, 3, 5, 7, 9]

In [109]:
lst[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [110]:
lst[-3:]

[7, 8, 9]

In [111]:
lst[:-3]

[1, 2, 3, 4, 5, 6]

In [113]:
lst[-5:-2]

[5, 6, 7]

In [243]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [123]:
print(lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 0]]

In [244]:
my_list[0][0]

1

In [245]:
my_list[0][1]

2

In [130]:
#o extract the first two elements of the first inner lis
my_list[0][:2]

[1, 2]

In [250]:
for i in my_list:
    for j in i:
        print(j,end='')

123456789

In [257]:
lst =['apple','mango','orange']

In [252]:
lst.append('sapota')

In [253]:
lst

['apple', 'mango', 'orange', 'sapota']

In [149]:
lst.append('apple')

In [150]:
lst

['apple', 'mango', 'orange', 'sapota', 'apple']

In [254]:
lst =[]
for i in range(10):
    lst.append(i)

In [256]:
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [259]:
lst.extend(('fig','kiwi','banana'))

In [260]:
lst

['apple', 'mango', 'orange', 'fig', 'kiwi', 'banana', 'fig', 'kiwi', 'banana']

In [261]:
lst.extend(lst)

In [262]:
lst

['apple',
 'mango',
 'orange',
 'fig',
 'kiwi',
 'banana',
 'fig',
 'kiwi',
 'banana',
 'apple',
 'mango',
 'orange',
 'fig',
 'kiwi',
 'banana',
 'fig',
 'kiwi',
 'banana']

In [158]:
lst =[]
for i in range(0,10):
    lst.append(i)

In [159]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [264]:
lst.index('mango')

1

In [163]:
lst =['apple','mango','orange']

In [266]:
lst.pop(1)

'mango'

In [165]:
lst =['apple','mango','orange']

In [168]:
lst.pop(0)

'apple'

In [267]:
lst.remove('mango')

In [268]:
lst.insert(3,'ram')

In [269]:
lst

['apple',
 'orange',
 'fig',
 'ram',
 'kiwi',
 'banana',
 'fig',
 'kiwi',
 'banana',
 'apple',
 'orange',
 'fig',
 'kiwi',
 'banana',
 'fig',
 'kiwi']

In [171]:
lst=[*range(10)]

In [270]:
lst.remove('apple')

In [173]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [271]:
lst.reverse()

In [275]:
lst.sort()

In [276]:
lst

['apple',
 'banana',
 'banana',
 'banana',
 'fig',
 'fig',
 'fig',
 'fig',
 'kiwi',
 'kiwi',
 'kiwi',
 'kiwi',
 'orange',
 'orange',
 'ram']

In [280]:
lst

['ram',
 'orange',
 'orange',
 'kiwi',
 'kiwi',
 'kiwi',
 'kiwi',
 'fig',
 'fig',
 'fig',
 'fig',
 'banana',
 'banana',
 'banana',
 'apple']

In [278]:
lst

['ram',
 'orange',
 'orange',
 'kiwi',
 'kiwi',
 'kiwi',
 'kiwi',
 'fig',
 'fig',
 'fig',
 'fig',
 'banana',
 'banana',
 'banana',
 'apple']

In [185]:
lst =[]

In [281]:
matrix = []
for i in range(5):
# Append an empty sublist inside the list
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)

In [282]:
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [208]:
matrix = [[j for j in range(5)] for i in range(5)]

In [209]:
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [210]:
#Python Tuple is a collection of objects separated by commas. In some ways, a tuple 
# is similar to a Python list in terms of indexing, the main difference between both is Python tuple is immutable, 
# tuple allow duplicate

In [289]:
tpl =('apple','orange','mango','orange','apple')

In [290]:
tpl

('apple', 'orange', 'mango', 'orange', 'apple')

In [285]:
tpl[0]

'apple'

In [286]:
tpl[0]='test'

TypeError: 'tuple' object does not support item assignment

In [217]:
for i in  tpl: print(i)

apple
orange
mango
orange

In [291]:
tpl.count('apple')

2

In [292]:
tpl.index('apple')

0

In [220]:
#A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [294]:
set ={'apple','mango','orange','fig','apple'}

In [295]:
set

{'apple', 'fig', 'mango', 'orange'}

In [297]:
set[0]

TypeError: 'set' object is not subscriptable

In [224]:
set[0]

TypeError: 'set' object is not subscriptable

In [300]:
set.add('pinaple')

In [301]:
set

{'apple', 'fig', 'mango', 'orange', 'pinaple'}

In [306]:
set.remove()

TypeError: set.remove() takes exactly one argument (0 given)

In [228]:
set

{'apple', 'fig', 'mango', 'orange'}

In [303]:
set.pop()

'fig'

In [304]:
set.pop()

'mango'

In [319]:
set1 ={'apple','mango','pinaple'}
set2={'apple','fig','sapota','orange'}

In [309]:
set1.union(set2)

{'apple', 'fig', 'mango', 'orange', 'pinaple', 'sapota'}

In [310]:
set1|set2

{'apple', 'fig', 'mango', 'orange', 'pinaple', 'sapota'}

In [311]:
set1.intersection(set2)

{'apple'}

In [312]:
set1&set2

{'apple'}

In [313]:
set1.difference(set2)

{'mango', 'pinaple'}

In [238]:
set1 -set2

{'mango', 'pinaple'}

In [314]:
set1.update(set2)

In [315]:
set1

{'apple', 'fig', 'mango', 'orange', 'pinaple', 'sapota'}

In [317]:
set1.intersection_update(set2)

In [318]:
set1

{'apple'}

In [245]:
set1 ={'apple','mango','pinaple'}
set2={'apple','fig','sapota','orange'}

In [320]:
set1.difference_update(set2)

In [321]:
set1

{'mango', 'pinaple'}

In [322]:
set1 ={1,2,3,4,5,6}
set2={1,2,3}

In [325]:
set2.issuperset(set1)

False

In [326]:
set2.issubset(set1)

True

In [ ]:
Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*,
changeable and do not allow duplicates.

In [327]:
dic ={'name':'babjee','age':40,'city':'chennai'}

In [328]:
dic

{'name': 'babjee', 'age': 40, 'city': 'chennai'}

In [329]:
dic['name']

'babjee'

In [330]:
dic['name']='ram'

In [331]:
dic

{'name': 'ram', 'age': 40, 'city': 'chennai'}

In [337]:
dic['email']='bajee@gmail.com'

In [338]:
dic

{'name': 'ram', 'age': 40, 'city': 'chennai', 'email': 'bajee@gmail.com'}

In [333]:
dic.get('email')

In [339]:
dic.keys()

dict_keys(['name', 'age', 'city', 'email'])

In [343]:
for i in dic.keys():
    print(i, ':',dic.get(i))

name : ram
age : 40
city : chennai
email : bajee@gmail.com

In [344]:
dic.values()

dict_values(['ram', 40, 'chennai', 'bajee@gmail.com'])

In [345]:
dic.items()

dict_items([('name', 'ram'), ('age', 40), ('city', 'chennai'), ('email', 'bajee@gmail.com')])

In [346]:
for k,v in dic.items():
    print(k,':',v)

name : ram
age : 40
city : chennai
email : bajee@gmail.com

In [265]:
for k,v in dic.items():
    print(k,v)

name ram
age 40
city chennai
email ram@gmail.com

In [347]:
dic.pop('email')

'bajee@gmail.com'

In [348]:
dic.popitem()

('city', 'chennai')

In [268]:
dic

{'name': 'ram', 'age': 40}

In [270]:
dic.update({'city':'chennai'})

In [271]:
dic.update({'email':'babjee@gmail.com','phone':9841699104})

In [272]:
dic

{'name': 'ram',
 'age': 40,
 'city': 'chennai',
 'email': 'babjee@gmail.com',
 'phone': 9841699104}

In [273]:
dic.update({'email':'ram@gmail.com','phone':841699104})

In [274]:
dic

{'name': 'ram',
 'age': 40,
 'city': 'chennai',
 'email': 'ram@gmail.com',
 'phone': 841699104}

In [275]:
dic={}

In [349]:
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [285]:
dic

{}

In [351]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [352]:
people

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

In [353]:
people[1]

{'name': 'John', 'age': '27', 'sex': 'Male'}

In [354]:
print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

John
27
Male

In [293]:
people[1]['name']='sham'

In [362]:
people

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

In [361]:


people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

In [298]:
people[3]

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}

In [300]:
del people[3]['married']

In [364]:
people

{1: {'name': 'John', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'},
 4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [301]:
people[3]

{'name': 'Luna', 'age': '24', 'sex': 'Female'}

In [302]:
del people[3]

In [303]:
people

{1: {'name': 'sham', 'age': '27', 'sex': 'Male'},
 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
 4: {'name': 'Peter', 'age': '29', 'sex': 'Male', 'married': 'Yes'}}

In [365]:
for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

Person ID: 1
name: John
age: 27
sex: Male

Person ID: 2
name: Marie
age: 22
sex: Female

Person ID: 3
name: Luna
age: 24
sex: Female
married: No

Person ID: 4
name: Peter
age: 29
sex: Male
married: Yes

In [ ]:
# arithmetic operators in Python
Addition (+)
Subtraction (-)
Multiplication (*)
Division (/)
Modulus (%)
Exponentiation (**)
Floor Division (//)

In [309]:
10+20

30

In [310]:
20-10

10

In [311]:
10 *20

200

In [1]:
10/3

3.3333333333333335

In [2]:
10//3

3

In [315]:
10%2

0

In [316]:
10**2

100

In [ ]:
Equal to ==
Not equal to !=
Greater than >
Less than <
Greater than or equal to >=
Less than or equal to <=

In [317]:
10==10

True

In [318]:
10 !=20

True

In [319]:
10 >5

True

In [320]:
10 >=10

True

In [322]:
10 <20

True

In [323]:
10 <=10

True

In [ ]:
= equals
+= adition equals
-= subtraction equals
*= multiplay equal
/= division equlas
//= floor division equals
**/ exponet equal
%/= modules equals

In [3]:
a=10

In [4]:
a+=10
print(a)

20

In [5]:
a-=10
print(a)

10

In [6]:
a*=10
print(a)

100

In [7]:
a=10
a /=3
print(a)

3.3333333333333335

In [8]:
a=10
a//=3
print(a)

3

In [9]:
a%=2
print(a)

1

In [ ]:
#logical operatos
and
or
not

In [337]:
x = 5

print(x > 3 and x < 10)

True

In [338]:
x = 5

print(x > 3 or x < 4)

True

In [10]:
x = 5

print(not(x > 3 and x < 10))

False

In [ ]:
#identity operatos
is Returns true if both variables are the same object
is not Returns true if both variables are not the same object

In [12]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is y)

False

In [18]:
print(x is not x)

False

In [341]:
print(x is y #returns False because x is not the same object as y, even if they have the same content

False

In [342]:
print(x == y)

True

In [343]:
id(x)

2618093969792

In [344]:
id(z)

2618093969792

In [345]:
id(y)

2618082990208

In [ ]:
#membership operators
in 	Returns True if a sequence with the specified value is present in the object
not in	Returns True if a sequence with the specified value is not present in the object

In [346]:
x = ["apple", "banana"]

print("banana" in x)

True

In [347]:
x = ["apple", "banana"]

print("banana" not in x)

False

In [ ]:
Bit wise operatos
& 	AND	Se+ts each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [348]:
10 & 4   1010
         0101
         0000

0

In [349]:
10 |4   1010
        0100
        1110    8+4+2+0

14

In [352]:
10 ^ 8    1010
          1000
          0010   0+0+2+0 =2

2

In [359]:
a=10    1010
~a       01001

-11

In [360]:
10 <<2   # 001010  --- 101000

40

In [21]:
10 <<2   101000

40

In [23]:
age =int(input('Enter your age'))
if age>=18:
    print('You are Eligible for vote')
print('Good Bye')

Enter your age10
Good Bye

In [25]:
age =int(input('Enter your age'))
if age>=18:
    print('You are Eligible for vote')
else:
    print('You are not Eligible for vote')
print('Good Bye')

Enter your age20
You are Eligible for vote
Good Bye

In [367]:
amt =int(input('Enter the Amount'))
if amt >10000:
    discount = amt*.25
elif amt >5000:
    discount =amt *.15
elif amt >3000:
    discount =amt *.1
else:
    discount =amt * 0.05
netamt=amt-discount
print('Total Amount',amt)
print('Discount    ',discount)
print('Net Amount  ', netamt)

Enter the Amount11000
Total Amount 11000
Discount     2750.0
Net Amount   8250.0

In [370]:
amt =int(input('Enter the Amount'))
if amt >= 50:
    print('above 50')
    if amt >100:
        print('and also above 100')
    else:
        print('But not above 100')
else:
    print('below 50')

Enter the Amount40
below 50

# for i in :
    print(i)

In [33]:
dic ={'NAME':'RAM','AGE':40,'CITY':'CHENNAI'}
for k,v in dic.items():
    print(k,v)

NAME RAM
AGE 40
CITY CHENNAI

In [34]:
for i in range(10):
    if i==5:
      break
    print(i)

0
1
2
3
4

In [35]:
for i in range(10):
    if i==5:
      continue
    print(i)

0
1
2
3
4
6
7
8
9

In [378]:
for i in range(10):
    if i%2==1:
      continue
    print(i)

0
2
4
6
8

In [36]:
for i in 'babjee reddy':
    if i==' ':
        continue
    print(i,end='')

babjeereddy

In [383]:
for i in range(5):
    print('Outer Loop',i)
    for j in range(5):
        print('      Inner Loop',j)

Outer Loop 0
      Inner Loop 0
      Inner Loop 1
      Inner Loop 2
      Inner Loop 3
      Inner Loop 4
Outer Loop 1
      Inner Loop 0
      Inner Loop 1
      Inner Loop 2
      Inner Loop 3
      Inner Loop 4
Outer Loop 2
      Inner Loop 0
      Inner Loop 1
      Inner Loop 2
      Inner Loop 3
      Inner Loop 4
Outer Loop 3
      Inner Loop 0
      Inner Loop 1
      Inner Loop 2
      Inner Loop 3
      Inner Loop 4
Outer Loop 4
      Inner Loop 0
      Inner Loop 1
      Inner Loop 2
      Inner Loop 3
      Inner Loop 4

In [388]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [391]:
for i in reversed(range(11)):print(i)

10
9
8
7
6
5
4
3
2
1
0

In [392]:
for i in range(10):
    for j in range(i):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [393]:
for i in range(10,-1,-1):
    for j in range(i):
        print('*', end=' ')
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [394]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [396]:
for i in range(1, 11):  # Outer loop for rows
    for j in range(1, 11):  # Inner loop for columns
        product = i * j
        print(f"{i} * {j} = {product}")  # Print with a tab separator
    print()  # Move to the next row

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [397]:
#python builtin functions

In [398]:
abs(-1)

1

In [37]:
all([10>5,5<10,10==11])

False

In [401]:
all([10>5,5<10,10==11])

False

In [402]:
any([10>5,5<10,10==11])

True

In [405]:
print(ascii("a"))

'a'

In [406]:
bin(10)

'0b1010'

In [407]:
callable(print)

True

In [408]:
a=10
callable(a)

False

In [409]:
chr(65)

'A'

In [410]:
dict(One = "1", Two = "2")

{'One': '1', 'Two': '2'}

In [38]:
lst =(10,20,30)
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [415]:
divmod(10,3) #Takes two numbers and returns a pair of numbers consisting of their quotient and remainder

(3, 1)

In [416]:
float(10)

10.0

In [418]:
hash('babjee')

-3646195214425577490

In [420]:
hex(100)

'0x64'

In [421]:
int(10.2)

10

In [422]:
len([10,20,30])

3

In [423]:
len('babjee')

6

In [39]:
max(10,20,30)

30

In [425]:
max([10,20,5])

20

In [426]:
max([10,20,5])

20

In [432]:
pow(10,2)

100

In [41]:
cars = ["nano", "swift", "bolero", "BMW"] 

reversed_cars = list(reversed(cars)) 
print(reversed_cars)

['BMW', 'bolero', 'swift', 'nano']

In [437]:


numbers = [1,2,3,4,5,1,4,5]
 
Sum = sum(numbers)
print(Sum)

25

In [439]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]
 
# using zip() to map values
mapped = zip(name, roll_no)

In [444]:
print(list(mapped))

[('Manjeet', 4), ('Nikhil', 1), ('Shambhavi', 3), ('Astha', 2)]

In [44]:
import math

In [2]:
math.ceil(16.5) #It returns the smallest integer that is greater than or equal to the given value.

17

In [3]:
math.floor(16.6) #It returns the largest integer that is less than or equal to the given value.

16

In [4]:
math.exp(10)

22026.465794806718

In [45]:
type(math.fabs(-11)) #Return the absolute value of the float x

float

In [6]:
math.factorial(10)

3628800

In [7]:
math.fmod(10,2) #Return the modules value of the float x

0.0

In [8]:
math.fsum([10,20,30,40])

100.0

In [11]:
math.sqrt(9)

3.0

In [12]:
math.log(10)

2.302585092994046

In [13]:
math.log2(10)

3.321928094887362

In [14]:
math.log10(100)

2.0

In [15]:
math.pi

3.141592653589793

In [16]:
math.pow(10,2)

100.0

In [17]:
math.sin(1) #Return the sine of x (measured in radians).

0.8414709848078965

In [18]:
math.cos(1) #Return the cosine of x (measured in radians).

0.5403023058681398

In [19]:
math.tan(1) #Return the tangent of x (measured in radians).

1.5574077246549023

In [46]:
math.trunc(10.999999999)

10

In [21]:
math.trunc(19.6)

19

In [47]:
import datetime

In [48]:
x = datetime.datetime.now()
print(x)

2024-04-03 11:56:56.966366

In [29]:
x = datetime.datetime(2020, 5, 17)

In [30]:
print(x)

2020-05-17 00:00:00

In [31]:
x = datetime.datetime.now()

In [32]:
x.year

2024

In [33]:
x.month

4

In [34]:
x.day

2

In [35]:
x.hour

11

In [36]:
x.minute

45

In [37]:
x.hour

11

In [38]:
x.second

22

In [39]:
x.strftime('%a')

'Tue'

In [40]:
x.strftime('%A')

'Tuesday'

In [42]:
x.strftime('%c')

'Tue Apr  2 11:45:22 2024'

In [43]:
x.strftime('%C')

'20'

In [44]:
x.strftime('%d')

'02'

In [45]:
x.strftime('%D')

'04/02/24'

In [49]:
x.strftime('%m')

'04'

In [51]:
x.strftime('%y')

'24'

In [52]:
x.strftime('%Y')

'2024'

In [53]:
x.strftime('%H') #Hour 00-23

'11'

In [56]:
x.strftime('%I') #Hour 00-12

'11'

In [57]:
x.strftime('%M') #minute

'45'

In [58]:
x.strftime('%S') #second

'22'

In [59]:
x.strftime('%j') #Day number of year 001-366

'093'

In [61]:
x.strftime('%W') #Week number of year,

'14'

In [62]:
x.strftime('%p')

'AM'

In [51]:
x.strftime('%d/%m/%Y %H%M%S %p')

'03/04/2024 115656 AM'

In [65]:
#An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

In [52]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [57]:
def myfun():
    print('Hi Babjee')

In [55]:
myfun()

Hi Babjee

In [59]:
def myfun(greet,name):
    print(greet,name)

In [60]:
myfun('Hi','Babjee')

Hi Babjee

In [61]:
def add(num1, num2):
    return num1+num2

In [66]:
add(10,20,20)

TypeError: add() takes 2 positional arguments but 3 were given

In [63]:
100/add(8,2)

10.0

In [67]:
def myfun(name,age):
    print('Name is ',name)
    print('Age is ',age)

In [70]:
myfun(age=49,name='babjee')

Name is  babjee
Age is  49

In [76]:
myfun(age=40,name='babjee')

Name is  babjee
Age is  40

In [71]:
def myfun(greet='Hi',name='ram'):
    print(greet,name)

In [72]:
myfun()

Hi ram

In [73]:
myfun('Hello','Sham')

Hello Sham

In [87]:
myfun(name='sunil')

Hi sunil

In [74]:
myfun(greet='Hello')

Hello ram

In [75]:
x = "awesome"
def myfunc():
  print("Python is " + x)
myfunc()

Python is awesome

In [76]:
x='Excellent'
def myfunc():
  global x
  x = "fantastic"

In [77]:
myfunc()
print("Python is " + x)

Python is fantastic

In [78]:
### Local Variable
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)

In [79]:
myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

In [80]:
def myfun(num):
    print(num)

In [81]:
myfun(10,20)

TypeError: myfun() takes 1 positional argument but 2 were given

In [82]:
def myfun(*arg):
    for i in arg:
        print(i)

In [86]:
myfun(10,20,1000,000,00000)

10
20
1000
0
0

In [88]:
def myfun(**arg):
    for x,y in arg.items():
        print(x,':',y)

In [90]:
myfun(name='babjee',age=40,city='chennai',email='babjee@gmail.com')

name : babjee
age : 40
city : chennai
email : babjee@gmail.com

In [ ]:
lambda x:expression

In [101]:
#lambda n Python, an anonymous function means that a function is without a name. As we already know that 
#def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions.

In [91]:
x =lambda x:x+2

In [92]:
print(x(2))

4

In [93]:
x =lambda x,y : x+y

In [94]:
print(x(10,20))

30

In [96]:
calc = lambda num: "Even number" if num % 2 == 0 else "Odd number"
print(calc(21))

Odd number

In [107]:
lambda_cube = lambda num: num ** 3

In [109]:
lambda_cube(10)

1000

In [97]:
lst=[10,20,30,40]
lst1=[10,20,30,40]
print(lst+lst1)

[10, 20, 30, 40, 10, 20, 30, 40]

In [110]:
# map function to execute a specified function for each item in an iterable.

In [102]:
lst1 =[10,20,30,40]
lst2=[10,20,30,40]

In [105]:
def myfun(num1):
    return num1 * num1

In [106]:
myfun(10)

100

In [107]:
lst =map(myfun,lst1)

In [108]:
print(list(lst))

[100, 400, 900, 1600]

In [111]:
lst =map(lambda x : x*x, lst1)

In [112]:
print(list(lst))

[100, 400, 900, 1600]

In [120]:
#The filter() function returns an iterator where the items are filtered through 
a function to test if the item is accepted or not.

In [119]:
age=[18,20,13,40]

In [118]:
def myfun(age):
    if age >=18:
        return True

In [120]:
x =filter(myfun,age)

In [121]:
print(list(x))

[18, 20, 40]

In [123]:
lst =filter(lambda x: x >=18,age)

In [125]:
print(list(lst))

[18, 20, 40]

In [131]:
lst =filter(myfun,age)

In [132]:
print(list(lst))

[18, 20, 40]

In [126]:
lst =[*range(10)]

In [129]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [130]:
def myfun(num):
    if num%2==0:
        return True

In [138]:
myfun(2)

True

In [131]:
even=filter(myfun,lst)

In [132]:
print(list(even))

[0, 2, 4, 6, 8]

In [133]:
o =['a','e','i','o','u']

In [140]:
n =['b','a','b','j','e','e']

In [137]:
def myfun(c):
    if c in o:
        return True

In [138]:
myfun('a')

True

In [141]:
x = filter(myfun,n)
print(list(x))

['a', 'e', 'e']

In [142]:
x = filter(lambda x : x in o , n)

In [143]:
print(list(x))

['a', 'e', 'e']

In [146]:
#The try block contains a set of statements where an exception can occur.
#catch in python
#The except block is used to handle the uncertain condition of a try block. 
#A try block is always followed by a catch block, which handles the exception that occurs in the associated try block.
#finally 
#It is executed after the catch block. We use it to put some common code 
#(to be executed irrespective of whether an exception has occurred or not ) when there are multiple catch blocks.

In [144]:
marks = 10000
a = marks / 0
print(a)

ZeroDivisionError: division by zero

In [145]:
try:
    marks = 10000
    a = marks / 0
    print(a)
except:
    print('Some error occord')

Some error occord

In [146]:
try:
    marks = 10000
    a = marks / 0
    print(a)
except Exception as e:
    print(e)

division by zero

In [147]:
try:
    marks = 10000
    a = marks / 0
    print(a)
except ZeroDivisionError:
    print('ZeroDivisionError:')

ZeroDivisionError:

In [154]:
a ='hi how are you'
b =10
c = a+b

TypeError: can only concatenate str (not "int") to str

In [148]:
a ='hi how are you'
b =10
try:
    c = a+b
except TypeError:
    print('You can not add int with string')

You can not add int with string

In [149]:
strVal ='hello'
intVal =int(strVal)

ValueError: invalid literal for int() with base 10: 'hello'

In [150]:
try:
    c = 10/0
    strVal ='hello'
    intVal =int(strVal)
except ValueError:
    print('You can not convert str to int')
except ZeroDivisionError:
    print('ZeroDivisionError error')

ZeroDivisionError error

In [152]:
a = [1, 2, 3]
try: 
    print ("Second element = %d" %(a[1]))
 
    print ("Fourth element = %d" %(a[2]))
 
except Exception as e:
    print (e)
finally:
    print('end of the program')

Second element = 2
Fourth element = 3
end of the program

In [153]:
try:
  print("Hello")
except:
  print("Something went wrong")
else:
  print("Nothing went wrong")

Hello
Nothing went wrong

In [2]:
try:
    numerator = 10
    denominator = 0

    result = numerator/denominator

    print(result)
except:
    print("Error: Denominator cannot be 0.")
    
finally:
    print("This is finally block.")

Error: Denominator cannot be 0.
This is finally block.

In [155]:
try:
    x = -1

    if x < 0:
      raise Exception("Sorry, no numbers below zero")

except  Exception as e:
    print(e)

Sorry, no numbers below zero